# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# WICHTIG: .terraform.lock.hcl NICHT ignorieren

# VSCode / System
.vscode/
.DS_Store
Thumbs.db
